//==== Facebook Share Button ====
div#fb-root
script.
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1782836155359187',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.12&appId=1782836155359187&autoLogAppEvents=1";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   function shareOverrideOGMeta(overrideTitle, overrideDescription, overrideImage) {
    FB.ui({
      method: 'share_open_graph',
      action_type: 'og.shares',
      action_properties: JSON.stringify({
        object: {
          'og:title': 'Random Quote Machine' + overrideTitle,
          'og:description': overrideDescription,
          'og:image:url': overrideImage
        },
      })
    }, function (response) {
      // Debug response (optional)
      console.log(response);
    });
  }
  //- (function(d, s, id) {
  //-   var js, fjs = d.getElementsByTagName(s)[0];
  //-   if (d.getElementById(id)) return;
  //-   js = d.createElement(s); js.id = id;
  //-   js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.12&appId=953860781430707&autoLogAppEvents=1';
  //-   fjs.parentNode.insertBefore(js, fjs);
  //- }(document, 'script', 'facebook-jssdk'));
//==== / End Facebook Share Button ====
