//==== Facebook Share Button ====
div#fb-root
script.
  window.fbAsyncInit = function() {
    FB.init({
      appId            : '1782836155359187',
      autoLogAppEvents : true,
      xfbml            : true,
      version          : 'v2.12'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.12&appId=1782836155359187&autoLogAppEvents=1";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
   function shareOverrideOGMeta(title, description,gif) {     
     var ogTitle = `Random Quote Machine: ${ogTitle}`;
     var ogDes = String(description);
     var ogImgUrl = 'https://media.giphy.com/media/Xp98kEiD0SF9PEVPRl/giphy.gif';
     
     console.log(title);
     console.log(description);
     console.log(gif);
    FB.ui({
      method: 'share_open_graph',
      action_type: 'og.shares',
      action_properties: JSON.stringify({
        object: {
          'og:url': 'https://geralfonso.github.io/ranquote',
          'og:title': ogTitle,
          'og:description': ogDes,
          'og:image:url': ogImgUrl,
          'og:image:type': 'image/gif'
        },
      })
    }, function (response) {
      // Debug response (optional)
      console.log(response);
    });
  }
  //- (function(d, s, id) {
  //-   var js, fjs = d.getElementsByTagName(s)[0];
  //-   if (d.getElementById(id)) return;
  //-   js = d.createElement(s); js.id = id;
  //-   js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.12&appId=953860781430707&autoLogAppEvents=1';
  //-   fjs.parentNode.insertBefore(js, fjs);
  //- }(document, 'script', 'facebook-jssdk'));
//==== / End Facebook Share Button ====
