.container.height_vp--max.center_el--abs    
  .title--vertical
    h2.title_heading silver fang  
  .row.quote
    .col.s12.m7.l7.xl7.quote_img
      img(src="https://media.giphy.com/media/lXqIT00H4LayQ/source.gif", alt="Silver Fang")
    .col.s12.m5.l5.xl5.quote_cite
      cite Calma tu mente, eres muy joven para pensar en el fracaso. Cuando tu espalda este contra la pared, debes tomar acción. Pensar de mas no cambia nada. La mejor es salir del paso.
      p.quote_autor Silver Fang
      button.btn.quote_btn.text-red(type="submit") Next
      .quote_share
        div.btn.fb-share-button(data-href="https://geralfonso.github.io/ranquote/" data-layout="button" data-size="large" data-mobile-iframe="true")
          a(target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgeralfonso.github.io%2Franquote%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore") Compartir
          i.fab.fa-facebook-square

        a.btn(href="http://twitter.com/share?text=This+is+google+a+search+engine&url=https%3A%2F%2Fwww.google.com")
          i.fab.fa-twitter-square
